sentence-transformers==2.2.2
langchain
pypdf
python-dotenv
langchain-pinecone
langchain_community
streamlit
langchain_groq
langchain_community
faiss-cpu
python-dotenv
pypdf
langchain_huggingface
-e .
